
<% content_for :page_title do %>
    <%= Spree.t(:editing_delivery_city) %>
<% end %>


<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_delivery_cities_list), admin_delivery_cities_path, :icon => 'arrow-left' %>
    </li>

<% end %>


<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @delivery_city } %>



<%= form_for [:admin, @delivery_city] do |f| %>
    <fieldset class="no-border-top">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </fieldset>

    <div class="row">
      <div data-hook="admin_delivery_city_form_name_fields" class="col-md-6">
      <span id="add_new_delivery_area" data-hook>
        <%= button_link_to Spree.t(:add_delivery_area), "javascript:;", {:icon => 'add', :'data-target' => "tbody#delivery_areas", :class => 'btn-success spree_add_fields'} %>
      </span>
      </div>
    </div>

    <table class="table table-condensed table-bordered sortable" data-hook data-sortable-link="<%= update_values_positions_admin_option_types_url %>">
      <thead data-hook="option_header">
      <tr>
        <th colspan="2"><%= Spree.t(:area_name) %></th>
        <th><%= Spree.t(:minimum_amount) %></th>
        <th class="actions"></th>
      </tr>
      </thead>
      <tbody id="delivery_areas">
      <% if @delivery_city.delivery_areas.empty? %>
          <tr id="none" data-hook="option_none">
            <td colspan="2"><%= Spree.t(:none) %></td>
            <td class="actions text-center"></td>
          </tr>
      <% else %>
          <%= f.fields_for :delivery_areas do |delivery_area_form| %>
              <tr class="option_value fields" id="spree_<%= dom_id(delivery_area_form.object) %>" data-hook="option_value">
                <td class="move-handle text-center">
                  <span class="icon icon-move handle"></span>
                  <%= delivery_area_form.hidden_field :id %>
                </td>
                <td class="name"><%= delivery_area_form.text_field :name, class: "form-control" %></td>
                <td class="minimum_amount"><%= delivery_area_form.text_field :minimum_amount, class: "form-control" %></td>
                <td class="actions actions-1 text-center"><%= button_link_to "", "javascript:;", {:icon => 'remove', :'data-target' => "tbody#delivery_areas", :class => 'btn-danger spree_remove_fields'} %></td>
                <%=delivery_area_form.hidden_field(:_destroy)%>
              </tr>

          <% end %>
      <% end %>
      </tbody>
    </table>

    <%= render :partial => 'spree/admin/shared/edit_resource_links', :locals => {:collection_url => admin_delivery_cities_url} %>
<% end %>







