

<% content_for :page_title do %>
    <%= Spree.t(:new_delivery_city) %>
<% end %>


<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_delivery_cities_list), admin_delivery_cities_path, :icon => 'arrow-left' %>
    </li>

<% end %>



<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @delivery_city } %>



<%= form_for [:admin, @delivery_city] do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

    <%= render :partial => 'spree/admin/shared/new_resource_links', :locals => {:collection_url => admin_delivery_cities_url} %>
<% end %>



